In [27]:
# PS2 - CE264
# GSI: Mustapha Harb - Mengqiao Yu - Andrew Campbell

# importing the requried libraries
from collections import OrderedDict    # For recording the model specification 

import pandas as pd                    # For file input/output
import numpy as np                     # For vectorized math operations

import pylogit as pl                   # For MNL model estimation and
                                       # conversion from wide to long format

# reading the data file 
data_01 = pd.read_csv("for_pylogit.csv",sep=",")
#data_01 = data_01.drop(['PersonID'],axis=1)

In [28]:
#look at the columns and the data
data_01.columns

Index([u'Unnamed: 0', u'choice', u'choice_id', u'discounted', u'fare_3',
       u'fare_n', u'free_fare', u'full_fare', u'id', u'ttime_3', u'ttime_n'],
      dtype='object')

In [34]:
#data_01['fare_n'] = data_01.fare_n
#data_01['fare_3'] = data_01.fare_3
#data_01['ttime_n'] = data_01.ttime_n
#data_01['ttime_3'] = data_01.ttime_3

#data_01['fare1XSenior'] = data_01.fare_1 * data_01.Senior
#data_01['fare2XSenior'] = data_01.fare_2 * data_01.Senior
#data_01['tt1XSenior'] = data_01.travel_time_1 * data_01.Senior
#data_01['tt2XSenior'] = data_01.travel_time_2 * data_01.Senior
import numpy as np

data_01['a1_AV']=np.ones(len(data_01))
data_01['a2_AV']=np.ones(len(data_01))
print(len(data_01))
data_01 =data_01.dropna()
print(len(data_01))
data_01.head(20)

9807
9807

,Unnamed: 0,choice,choice_id,discounted,fare_3,fare_n,free_fare,full_fare,id,ttime_3,ttime_n,a1_AV,a2_AV
0,0,0.0,1.0,0.0,0.000000,0.0,1.0,0.0,9.962641e+11,4.843750,0.000000,1.0,1.0
3,3,0.0,4.0,0.0,0.000000,0.0,1.0,0.0,9.960610e+11,8.093750,3.250000,1.0,1.0
4,4,1.0,5.0,0.0,0.000000,0.0,1.0,0.0,9.971667e+11,2.687500,2.687500,1.0,1.0
5,5,0.0,6.0,0.0,190.000000,190.0,0.0,1.0,9.961712e+11,9.171875,9.906250,1.0,1.0
6,6,0.0,7.0,0.0,0.000000,0.0,1.0,0.0,9.931001e+11,3.609375,3.609375,1.0,1.0
7,7,0.0,8.0,0.0,316.461039,190.0,0.0,1.0,9.971680e+11,8.015625,4.812500,1.0,1.0
8,8,0.0,9.0,1.0,398.214286,100.0,0.0,0.0,9.961723e+11,24.390625,6.125000,1.0,1.0
9,9,0.0,10.0,0.0,0.000000,0.0,1.0,0.0,9.736747e+11,16.406250,8.421875,1.0,1.0
10,10,0.0,11.0,0.0,0.000000,0.0,1.0,0.0,9.971666e+11,16.906250,14.718750,1.0,1.0
11,11,0.0,12.0,1.0,100.000000,100.0,0.0,0.0,9.931723e+11,15.046875,13.046875,1.0,1.0
12,12,0.0,13.0,0.0,285.000000,285.0,0.0,1.0,9.764702e+11,20.234375,24.578125,1.0,1.0
13,13,0.0,14.0,0.0,431.517413,190.0,0.0,1.0,9.965725e+11,14.265625,6.281250,1.0,1.0
14,14,0.0,15.0,1.0,200.000000,100.0,0.0,0.0,9.760712e+11,25.828125,12.984375,1.0,1.0
15,15,0.0,16.0,0.0,285.000000,285.0,0.0,1.0,9.764713e+11,15.593750,20.437500,1.0,1.0
16,16,0.0,17.0,1.0,316.927260,150.0,0.0,0.0,9.965721e+11,48.562500,22.984375,1.0,1.0
17,17,0.0,18.0,1.0,292.207792,150.0,0.0,0.0,9.982000e+11,16.406250,8.421875,1.0,1.0
18,18,0.0,19.0,0.0,0.000000,0.0,1.0,0.0,9.971667e+11,1.843750,1.843750,1.0,1.0
19,19,0.0,20.0,1.0,340.671642,150.0,0.0,0.0,9.760715e+11,14.265625,6.281250,1.0,1.0
20,20,0.0,21.0,0.0,470.316901,190.0,0.0,1.0,9.700719e+11,10.984375,4.437500,1.0,1.0
21,21,0.0,22.0,1.0,132.113145,100.0,0.0,0.0,9.963634e+11,12.406250,9.390625,1.0,1.0

In [5]:
## DO NOT RUN 
## RANDOMIZATION: IGNORE
from random import randint
import random
data_01['fare_1'] = data_01.Fare
data_01['fare_2'] = data_01.Fare
data_01['travel_time_1'] = data_01.Travel_time
data_01['travel_time_2'] = data_01.Travel_time
def bullshit(row):
    if row.Choice == 2:
        r = random.random()
        if r >0.4:
            row.fare_2 = round(randint(85,100)/100.0*row.fare_2)
            if r>0.7:
                row.travel_time_2 = round(randint(85,100)/100.0*row.travel_time_2)
        elif r<0.2:
            row.travel_time_2 = round(randint(100,120)/100.0*row.travel_time_2) 
            #row.fare_2 = round(randint(100,120)/100.0*row.fare_2)
    elif row.Choice == 1:
        r=random.random()
        if r>0.4:
            row.travel_time_2 = round(randint(100,130)/100.0*row.travel_time_2)
            if r>0.7:
                row.fare_2 = round(randint(100,120)/100.0*row.fare_2)
        elif r<0.2:
            row.travel_time_2 = round(randint(75,100)/100.0*row.travel_time_2) 
            row.fare_2 = round(randint(90,100)/100.0*row.fare_2)
    else:
        row.travel_time_1 = row.Travel_time
        row.fare_1 = row.Fare
    return row
data_01 = data_01.apply(bullshit,axis=1)
data_01 = data_01.drop(['Fare','Travel_time'],axis=1)
#data_01['fare1XSenior'] = data_01.fare_1 * data_01.Senior
#data_01['fare2XSenior'] = data_01.fare_2 * data_01.Senior
#data_01['tt1XSenior'] = data_01.travel_time_1 * data_01.Senior
#data_01['tt2XSenior'] = data_01.travel_time_2 * data_01.Senior
print(len(data_01))
data_01 =data_01.dropna()
print(len(data_01))
data_01.head(20)

AttributeError: 'DataFrame' object has no attribute 'Fare'

In [35]:
# Converting the data from wide format to long format
# Create the list of individual specific variables

ind_variables = data_01.columns.tolist()
#ind_variables = [ind_variables[i] for i in [2,1,6]]
ind_variables = ['id','full_fare','discounted','free_fare']

In [36]:
# Specify the variables that vary across individuals and some or all alternatives
# The keys are the column names that will be used in the long format dataframe.
# The values are dictionaries whose key-value pairs are the alternative id and
# the column name of the corresponding column that encodes that variable for
# the given alternative.


alt_varying_variables ={u'fare': dict([(1, 'fare_n'),
                                                 (2, 'fare_3')]),
                          
                          u'travel_time': dict([(1, 'ttime_n'),
                                                (2, 'ttime_3')]),                         
                          
                          }

In [37]:
# Specify the availability variables
# Note that the keys of the dictionary are the alternative id's.
# The values are the columns denoting the availability for the
# given alternative in the dataset.
availability_variables = {1: 'a1_AV',
                         2: 'a2_AV'}

In [40]:
##########
# Determine the columns for: alternative ids, the observation ids and the choice
##########
# The 'custom_alt_id' is the name of a column to be created in the long-format data
# It will identify the alternative associated with each row.

custom_alt_id = "alternative_id"
# Create a custom id column that ignores the fact that this is a 
# panel/repeated-observations dataset. 
obs_id_column = "choice_id"


# Create a variable recording the choice column
choice_column = "choice"

In [41]:
# Perform the conversion to long-format
data_long = pl.convert_wide_to_long(data_01, 
                                    ind_variables, 
                                    alt_varying_variables, 
                                    availability_variables, 
                                    obs_id_column, 
                                    choice_column,
                                    new_alt_id_name=custom_alt_id
                                    )
# Look at the resulting long-format dataframe
data_long.head(10)

ValueError: The following alternative ids from availability_vars are not observed in wide_data[choice_col]:
[2]

In [24]:
#data_long['FareXFull'] = data_long['fare']* data_long.full_fare
#data_long['FareXDiscounted'] = data_long['fare']* data_long.discounted
#data_long['TravelTimeXNormal'] = data_long.travel_time* data_long.full_fare
#data_long['TravelTimeXDiscounted'] = data_long.travel_time* data_long.discounted


##########
# Create scaled variables so the estimated coefficients are of similar magnitudes
##########
# Scale the travel time column by 60 to convert raw units (minutes) to hours

# specifying the utility equations

# NOTE: - Specification and variable names must be ordered dictionaries.
#       - Keys should be variables within the long format dataframe.
#         The sole exception to this is the "intercept" key.
#       - For the specification dictionary, the values should be lists
#         of integers or or lists of lists of integers. Within a list, 
#         or within the inner-most list, the integers should be the 
#         alternative ID's of the alternative whose utility specification 
#         the explanatory variable is entering. Lists of lists denote 
#         alternatives that will share a common coefficient for the variable
#         in question.


basic_specification = OrderedDict()
basic_names = OrderedDict()

basic_specification["intercept"] = [[1, 2]]
basic_names["intercept"] = ['ASC Alternative' ]
#                            'ASC Alternative 2']


basic_specification["travel_time"] = [1, 2]
basic_names["travel_time"] = ['Travel Time, units:mins (Staying)','Travel Time, units:mins (Switching)']

basic_specification["fare"] = [1, 2]
basic_names["fare"] = ['Fare, units:1/100ths Yuan (Staying)','Fare, units:1/100ths Yuan (Switching)']

basic_specification["discounted"] = [[1, 2]]
basic_names["discounted"] = ['discounted']

basic_specification["full_fare"] = [[1, 2]]
basic_names["full_fare"] = ['full_fare']

#basic_specification["TravelTimeXDiscounted"] = [[1, 2]]
#basic_names['TravelTimeXDiscounted'] = ['TravelTimeXDiscounted']

#basic_specification['FareXDiscounted'] = [[1, 2]]
#basic_names['FareXDiscounted'] = ['FareXDiscounted']
#basic_specification['TravelTimeXSenior'] = [[1, 2]]
#basic_names['TravelTimeXSenior'] = ['TravelTimeXSenior']
print(data_long.columns)

Index([u'Unnamed: 0', u'choice', u'choice_id', u'discounted', u'fare_3',
       u'fare_n', u'free_fare', u'full_fare', u'id', u'ttime_3', u'ttime_n'],
      dtype='object')

In [25]:
basic_specification

OrderedDict([('intercept', [[1, 2]]),
             ('travel_time', [1, 2]),
             ('fare', [1, 2]),
             ('discounted', [[1, 2]]),
             ('full_fare', [[1, 2]])])

In [26]:
# Estimate the binary logit model (
air_travel_logit = pl.create_choice_model(data=data_long,
                                        alt_id_col=custom_alt_id,
                                        obs_id_col=obs_id_column,
                                        choice_col=choice_column,
                                        specification=basic_specification,
                                        model_type="MNL",
                                        names=basic_names)

# Specify the initial values and method for the optimization.
air_travel_logit.fit_mle(np.zeros(7)) # 4 being the total number of parameters to be estimated

print(air_travel_logit.data.columns)

ValueError: The following columns in [alt_id_col, obs_id_col, choice_col] are not in data.columns: ['alternative_id', 'Choice']

In [ ]:
# Look at the estimation results
air_travel_logit.get_statsmodels_summary()

In [ ]:
air_travel_logit.log_likelihood

In [ ]:
Lg= -4080.157663416539

In [ ]:
Las= -4057.1480634760746

In [ ]:
-2*(Lg-Las)

In [ ]:
import matplotlib.pyplot as plt
x= data_01.where(data_01["discounted"]==1).dropna(how='any')
plt.plot(x)
plt.show()

In [ ]:
xprop=sum(x['Choice']==1)
labels='Not Switch','Switch'
plt.pie([xprop,len(x)],labels=labels,autopct='%1.1f%%')
plt.show()

In [ ]:
x

In [ ]:
x= data_01["Choice"]
plt.plot(x)
plt.show()

In [ ]:
x= data_01.where(data_01["Senior"]==1)["Choice"]
plt.plot(x)
plt.show()

In [ ]:
len(data_01.where(data_01["Senior"]==1).dropna(how="any"))

In [ ]:
len(data_01)

In [ ]:
len(data_01.where(data_01["discounted"]==1).dropna(how="any"))